### Use "lsusb" in terminal to identify devices
### Example:
### Bus 001 Device 014: ID 37b0:0033 LAMZU LAMZU THORN V2 8K Dongle DFU
### "37b0" is the vendor ID and "0033" is the product ID

# This is an attempt to make firmware updates possible in the Lamzu web driver
# Lamzu Thorn v2 Dongle DFU
# KERNEL=="hidraw*", ATTRS{idVendor}=="37b0", ATTRS{idProduct}=="0033", MODE="0666", TAG+="uaccess"
